name: GitHub-Profile-Summary-Cards

on:
  schedule: # Execute automatically every 24 hours
    - cron: "* */24 * * *"
  workflow_dispatch: # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    
    # Ensure the action has permission to push the generated images to your repo
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          # You can change the theme here (e.g., github_dark, solarized_dark, vue)
          THEME: github_dark
